.pokedex__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.pokedex__container-titles {
    margin-top: 1rem;
    width: 100%;
}

.pokedex__container-titles b {
    text-transform: capitalize;
}

.pokedex__container h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.pokedex__container h3 {
    font-weight: 400;
    font-size: 1.2rem;
}

.pokedex__container-selects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .8rem;
}

.pokedex__container select {
    border: none;
    border-radius: .5rem;
    color: grey;
    outline: none;
    box-shadow: -10px -10px 15px rgb(58 58 58 / 9%), 10px 10px 15px rgb(66 66 66 / 35%);
    padding: .3rem;
    text-transform: capitalize;
}

.pokedex__container a {
    text-decoration: none;
}

.container__pokemons-card {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 1rem;
    justify-content: center;
}